<h1 class="content-header">{{data.name}}</h1>
<h2>Faculty</h2>
{{#if (equal subRoute "courses")}}
  Not Implemented...
{{/if}}

{{#if (equal subRoute "metrics")}}
  Not Implemented...
{{/if}}

{{#if (equal subRoute "students")}}
  Not Implemented...
{{/if}}

{{yield}}
