<h1 class="content-header">{{data.name}}</h1>
<h2>Observer</h2>
{{#if (equal subRoute "outcomes")}}
  Not Implemented...
{{/if}}

{{#if (equal subRoute "courses")}}
  Not Implemented...
{{/if}}

{{yield}}
