<h1 class="content-header">{{data.name}}</h1>
<h2>Program Coordinator</h2>
{{#if (equal subRoute "assessments")}}
  Not Implemented...
{{/if}}

{{#if (equal subRoute "outcomes")}}
  Not Implemented...
{{/if}}

{{#if (equal subRoute "courses")}}
  Not Implemented...
{{/if}}

{{#if (equal subRoute "instructors")}}
  Not Implemented...
{{/if}}

{{yield}}
